$color-primary:#43a03a;
$color-primary-dark: #122411;
$color-primary-light: #83ca7d;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  font-size: 10px;
}

a{
  text-decoration: none;
}

/* Fira Sans */
@import url("https://fonts.googleapis.com/css?family=Fira+Sans");


.nav-bar__container {
  width: 100%;
  grid-area: header;
  background-color: $color-primary-dark;
}

.content {
  grid-area: main;
  background-color: $color-primary-light;
}

.sidebar{
  grid-area: sidebar;
  background-color: aqua;
}

.App{
  display: grid;
  grid-template-columns: 33vw 33vw 33vw;
  grid-template-rows: auto;
  grid-template-areas: 
    "header header header"
    "sidebar main main"
    "sidebar main main";
  justify-items: center;
}


.nav-bar__form{
  display:flex;
  align-items: center;
}


nav {
  display:flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100vh;
  padding: 1rem;
  &::after{
    content: "";
    clear: both;
    distplay: table;
  }
  ul {
    display: flex;
    justify-content: space-around;
    text-align: center;
    list-style-type: none;
    list-style-type: none;
    margin: 0;
    padding: .5rem 1rem;

    li {
      font-family: "Fira Sans", sans-serif;
      font-size: 17px;
      justify-content: space-around;
      
      a {
        color: #f2f2f2;
        text-decoration: none;
        border-radius: 1rem;
        padding: .5rem;
        align-self: center;
        &:hover {
          background-color: $color-primary-light;
          color:black;
        }
      }
    }
  }
}






.book_card {
  width: 20rem;
  padding: 0.2rem;
  margin: 1rem;
  border: 0.5rem solid rgba(0, 0, 0, 0.125);
}

.book_card:hover {
  border: 0.5rem solid rgba($color-primary, 0.125);
  background-color: rgba($color-primary-dark, 0.125);
}

.card-text {
  margin-bottom: 0;
}

.book_row {
  padding: 1rem;
}


.btn{
    min-width: 8rem;
    padding: .3rem;
    margin: 1rem;
    border-radius: 1rem;
    font-family: "Fira Sans", sans-serif;
    font-size: 17px;
    justify-content: space-around;
    
  &__landing{
    display: block;
    background-color: $color-primary-dark;
    color: white;
    &:hover{
      background-color:$color-primary-light;
      color: black;
    }
  }
  &__navsearch{
    background-color: #f2f2f2;
  }

}